@model Example_MVC.Models.ItemModel

<!-- ITEM DETAILS -->
<div style="background-color:burlywood; padding:5px;">

    <h1 style="color:white">@Model.Name</h1>
    <b>Category:</b> @Model.Category<br />
    <b>Price:</b> @Model.Price
    <hr />
</div>